html    
    head
        link(rel="shortcut icon" type="image/jpg" href=favicon)
        link(rel='stylesheet' href=css)
        title Mi ez? 
    body

        h2='Mire jó ez az oldal?'
        p='Semmire.'
        br
        h2='Miért nincs értelme az idézeteknek?'
        p='Mert számítógéppel lettek generálva.'
        br
        h2='És azt hogyan?'
        a(href='https://www.citatum.hu/kategoria/Motivacio')='Ezt használtam adatbázisként.'
        div(id='egysor')
            p='Forráskód:'
            a(href='https://github.com/')
                img(src=github style='position:relative; top:50%; left:150%; transform:translateY(-50%)')
